<!DOCTYPE html>
<html>
  <head>
    <title>Booking</title>
    <style type="text/css">
      #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 25px;
        font-size: 20px;
      }
    </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>


  <div id="footer">
    "&copy; 2019 Mozol Vitalii. Educational project in an online school <a href=" http://www.thinknetica.com "> Thinknetica </a>"
  </div>

</html>
