<div class="ticket_show">
  <p>
    <strong><%= t('admin.tickets.form.number') + ':' %> </strong>
    <%= @ticket.number %>
  </p>
  <p>
    <strong><%= t('admin.tickets.form.train') + ':' %> </strong>
    <%= Train.find(@ticket.train_id).number %>
  </p>

  <p>
    <strong><%= t('admin.tickets.form.first_station') + ':' %> </strong>
    <%= RailwayStation.find(@ticket.first_railway_station_id).title %>
  </p>

  <p>
    <strong><%= t('admin.tickets.form.last_station') + ':' %> </strong>
    <%= RailwayStation.find(@ticket.last_railway_station_id).title %>
  </p>

  <p>
    <strong><%= t('admin.tickets.form.passenger_info') + ':' %> </strong>
  <p> <%= t('admin.tickets.form.user_name') + ':' %> <%= @ticket.user_name %> </p>
  <p> <%= t('admin.tickets.form.passport_data') + ':' %> <%= @ticket.passport_data %> </p>
  </p>

  <div class="menu">
    <%= link_to t('common.edit'), edit_ticket_path(@ticket) %> |
    <%= link_to t('common.back'), tickets_path %> |
    <%= link_to t('common.main'), root_path %>
  </div>
</div>