<%= form_for([:admin, @ticket]) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label :user_name, 'Full name of passenger' %><br>
    <%= form.text_field :user_name %>
  </div>

  <div class="field">
    <%= form.label :train, 'Train' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= form.label :first_railway_station, 'Departure Station' %>
    <%= form.collection_select :first_railway_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :last_railway_station, 'Arrival Station' %>
    <%= form.collection_select :last_railway_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
