<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @railway_station.title %>
</p>


<% if @railway_station.routes.empty? %>
  <p>The station is not included in any route</p>
<% else %>
  <p>The station is included in the following routes:</p>
  <ul>
    <% @railway_station.routes.each do |route| %>
      <li><%= route.name %></li>
    <% end %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_railway_station_path(@railway_station) %> |
<%= link_to 'Back', railway_stations_path %> |
 <%= link_to 'Main', root_path %>
